datasets
model_states

__pycache__
*.pyc

.vscode
.DS_Store
model_states_olddataset
eccv_18_all_images_sm
eccv_18_all_images
eccv_18_annotation_files
All_training_data/fish/images
All_training_data/fish/images/train/
All_training_data/fish/images/train/*
All_training_data
